:root, html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#infoBar {
    height: 100px;
    background-color: #e44a4a;
    display: flex;
    flex-direction: column;
}

#infoBar .stats {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

#infoBar .stats .hapinessBar {
    flex-grow: 1;
    height: 100%;
    background: #000;
    border-radius: 5px;
}

.hapinessBar .progressBar {
    height: 100%;
    background: #38ff69;
    border-radius: 5px;
}

#infoBar .tabButtons {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#tabContent {
    flex-grow: 1;
}

#notifications {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    top: 0;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.innerNotifModal {
    max-height: 100%;
    max-width: 100%;

    height: 300px;
    width: 500px;
    background: #424242;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerNotifModal .modalTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}

.innerNotifModal .modalContent {
    font-size: 18px;
    width: 100%;
}

.innerNotifModal .closeModal {
    margin-top: auto;
}

.gameOverContainer {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #d34040;
    color: #fff;
    text-align: center;
}