:root, html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

#infoBar {
    height: 100px;
    background-color: #e44a4a;
    display: flex;
    flex-direction: column;
}

#infoBar .stats {
    height: 60px;
    color: #fff;
    display: flex;
    align-items: center;
}

#infoBar .tabButtons {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#tabContent {
    flex-grow: 1;
}

#notifications {
    position: absolute;
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    top: 0;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.innerNotifModal {
    max-height: 100%;
    max-width: 100%;

    height: 300px;
    width: 500px;
    background: #424242;
    color: #fff;
    border-radius: 5px;
}